<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUCKET BUDDY</title>
    {% load static %}
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.css' %}"
    />
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}" />
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}" />
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body class="header-fixed">
    {% include 'partials/_header.html' %}
  <!-- partial -->
  <div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    
    {% include 'partials/_sidebar.html' %}
    <!-- partial -->
    <div class="page-content-wrapper">
      <div class="page-content-wrapper-inner">
        {% block content %}
      
        {% endblock %}
      </div>
    
      <!-- content viewport ends -->
      <!-- partial:partials/_footer.html -->
     
    {% include 'partials/_footer.html' %}
      <!-- partial -->
    </div>
    <!-- page content ends -->
  </div>
  <!-- endbuild -->
    <!-- jquery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/core.js' %}"></script>

    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/charts/chartjs.addon.js' %}"></script>
    
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
