{% load static %}
<footer class="footer">
  <div class="row">
    <div class="col-sm-6 text-center text-sm-right order-sm-1">
      <ul class="text-gray">
        <li>멋쟁이사자처럼</li>
        <li><img src="{% static 'images/likelion.jpg' %}" width="50px"></li>
      </ul>
    </div>
    <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
      <small class="text-muted d-block">Copyright ©  <a href="#" >콩자반</a>. All rights reserved</small>
      <small class="text-gray mt-2">With 신홍석 이슬기 이충헌 정은영  <i class="mdi mdi-heart text-danger"></i></small>
    </div>
  </div>
</footer>