{%extends 'shared/base.html'%}

{%block content%}

{% load static %}
    
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@700&family=Ultra&display=swap');

</style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#addReComment").click(function() {
                $(".re_comment").slideToggle("slow");
            });
        });
        function OnMouseIn(elem) 
          {
              elem.style.color = "olive";
          }
      function OnMouseOut(elem) 
          {
              elem.style.color= "rgb(179, 108, 108)";
          }

        function authComment(){
             alert("댓글/대댓글 작성은 로그인 하신 뒤 이용가능한 서비스 입니다");
                  }

        function deletePost(){
             var ret = confirm("게시물을 삭제합니다.");
             return ret;
        }
        function deleteComment(){
             var ret = confirm("댓글/대댓글을 삭제합니다.");
             return ret;
        }
        </script>
        {%csrf_token%}
        <br>
        <div class="viewport-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb has-arrow">
                    <li class="breadcrumb-item">
                    <a href="#">Board</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {% if posts.category == "free"%} 자유
                        {% elif posts.category == "review"%} 후기
                        {% elif posts.category == "suggest"%} 건의
                        {% else %} 전체
                        {% endif %}
                    </li>
                </ol>
            </nav>
        </div>
        {% if posts.category == "free"%}<h4>자유게시판</h4>
        {% elif posts.category == "review" %}<h4>후기 게시판</h4>
        {% elif posts.category == "suggest"%}<h4>건의 게시판</h4>
        {% else %} <h4>전체게시판</h4>
        {%endif%}
        <br><br>

        <div class="content-viewport">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="grid">
                        <div class="item-wrapper">
                            <div class="table-responsive">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    {% if posts.image %}
                                        <img src= {{posts.image.url}} alt='image' height="300px">
                                    {% else %}
                                        <td class="d-flex align-items-center" colspan="2">등록한 사진 없음</td>
                                    {% endif %}
                                  </tr>
                                  <tr>
                                    <td style width="4">
                                        <span>제목</span>
                                    </td>
                                    <td>
                                        <span>{{ posts.title }}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style>
                                        <span>작성자</span>
                                    </td>
                                    <td>
                                        <span>
                                            <a href="{% url 'user:mypage' posts.writer.id %}">{{ posts.writer }}</a>
                                        </span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style>
                                        <span>날짜</span>
                                    </td>
                                    <td>
                                        <span>{{ posts.pub_date }}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style>
                                        <span>내용</span>
                                    </td>
                                    <td>
                                        <span>{{ posts.body }}</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="left">
            {% if user == posts.writer %}
                <button type="button" class="btn btn-primary btn-xs">수정하기</button>
                <a class="toNext" href="{% url 'editPost' posts.id%}" onclick="return editPost()">수정하기</a>
                <a class="toNext" href="{% url 'deletePost' posts.id%}"  onclick="return deletePost()">삭제하기</a>
            {% elif user.is_staff%}
                <a class="toNext" href="{% url 'deletePost' posts.id%}"  onclick="return deletePost()">삭제하기</a>
            {%endif%}
        </div>
        <div id="comment"><br><br>
                        
            {% if user.is_authenticated %}
                <form method="POST"  action="{%url 'create_comment' posts.id  %}" enctype="multipart/form-data">
                    {%csrf_token%}
                댓글 작성  {{commentForms}}
                    <input type="submit">
                </form>
            {%else%}
                <form method="POST" onclick="authComment()" action="{%url 'create_comment' posts.id  %}" enctype="multipart/form-data">
                    {%csrf_token%}
                댓글 작성  {{commentForms}}
                    <input type="submit">
                </form>
            {%endif%}
            <hr><h2>댓글</h2>
            <b id="addReComment" onmouseover="OnMouseIn(this)" onmouseout="OnMouseOut (this)">답글 숨기기</b><br><br>
        {% for comment in comments %}
            <br>
            <table id="cc">
                <tr>
                    <td class="writer"><b>
                    
                    {% if  posts.writer == comment.writer %}
                        {{comment.writer}}<who>(글쓴이)</who>
                    {% else%}
                        {{comment.writer}}
                    {% endif %}
                    </b>| </td><td> {{comment.body}}</td>
                </tr>
                <tr>
                    <td colspan="2"> <date> {{comment.pub_date}}</date> 
                        {% if user == comment.writer %}
                            <a class="toNext" href="{% url 'update_review' posts.id comment.id%}">수정하기</a>
                            <a class="toNext" href="{% url 'deleteComment' posts.id comment.id%}" onclick="return deleteComment()">삭제하기</a>
                        {% elif user.is_staff%}
                            <a class="toNext" href="{% url 'deleteComment' posts.id comment.id%}" onclick="return deleteComment()">삭제하기</a>
                        {%endif%}</td>
                        
                </tr>
            </table>
        <div class="re_comment">
            {% if user.is_authenticated %}
                <form method="POST"  action="{%url 'create_re_comment'  posts.id comment.id %}" enctype="multipart/form-data">
                    {%csrf_token%}
                    <who>대댓글 작성</who> {{commentForms}}
                    <input type="submit">
                </form>
            {%else%}
                <form method="POST" onclick="authComment()" action="{%url 'create_re_comment'  posts.id comment.id %}" enctype="multipart/form-data">
                    {%csrf_token%}
                    <who>대댓글 작성</who> {{commentForms}}
                    <input type="submit">
                </form>
            {%endif%}
                    {% for re_comment in re_comments %}
                        {% if comment == re_comment.comment_id %}
                        <table id="recomment">
                            <tr>
                                <td class="writer"><b>
                                    {% if  posts.writer == re_comment.writer %}
                                        ㄴ{{re_comment.writer}}<who>(글쓴이)</who>
                                    {% else %}
                                        ㄴ{{re_comment.writer}}
                                    {% endif %}
                                    
                                    </b>| </td><td>{{re_comment.body}} </td>
                                
                                </tr>
                                <tr>
                                    <td colspan="2"> <date> {{comment.pub_date}}</date> {% if user == re_comment.writer %}
                                        <a class="toNext" href="{% url 'update_review' posts.id  re_comment.id%}">수정하기</a>
                                        <a class="toNext" href="{% url 'deleteComment' posts.id  re_comment.id%}" onclick="return deleteComment()">삭제하기</a>
                                        {% elif user.is_staff%}
                                        <a class="toNext" href="{% url 'deleteComment' posts.id  re_comment.id%}" onclick="return deleteComment()">삭제하기</a>
                                        {%endif%}</td>
                                </tr>
                            </table>
                        
                            <br>
                            {% endif %}
                        {% endfor %}</div>
                {% endfor %}
                        <br> <br>
        </div> 
        {%endblock%}